* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg {
  background-color: orange;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 20px;
}